*{
  padding:0;
  margin:0;
}

body{
  background-color: beige;
  display:grid;
  place-content: center;
  height:100vh;
  font-size:2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.App
{
  height: 80vh;
  width: 50vh;
  background-color: black;
  border-radius: 1rem;
  padding:1rem;
  box-shadow: 7px 7px 5px 0px rgba(50,50,50,0.75);
}

.wrapper
{
  height:100%;
  width:100%;
}

.wrapper-display
{
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  color:white;
  height:20%;
  margin: 3px;
  padding-left: 5%;
  font-size:xx-large;
}

.result
{
  padding-right: 10%;
  text-align:right;
}

.keypads
{
  margin:1%;
}

.btn
{
  width:calc(50vh/5);
  height:calc(50vh/5);
  margin: 2%;
  border-radius: 50%;
  border: 0px;
  font-size:xx-large;
  background-color: rgb(54,52,52);
  color:white;
  font-weight:bold;
  cursor: pointer;
}

.btn:hover{
  background-color: gray;
}

.gray
{
  background-color: gray;
  color:black;
}

.gray:hover
{
  background-color: white;
}

.orange
{
  background-color: orange;
}

.orange:hover
{
  background-color: white;
  color:orange;
}

.zero
{
  width: calc(100vh/4.5);
  border-radius: 25px;
} 